.cover__link {
  max-width: 1184px;
  text-decoration: none;
  background-color: rgba(42, 44, 47, .3);
  color: #fff;
  display: block;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, .8);
}
