.cover__subtitle {
  margin: 0 auto;
  padding-bottom: 20.7%;
  max-width: 380px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 19.043%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding-bottom: 15.2%;
  }
}

@media screen and (max-width: 380px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 14px;
    max-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    padding-bottom: 10.6%;
  }
}
