.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 56px auto 32px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
  margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: calc((100vw - 320px)/(767 - 320) * (96 - 40) + 40px);
    line-height: calc((100vw - 320px)/(767 - 320) * (100 - 44) + 44px);
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 48px auto 18px;
    font-size: 40px;
    line-height: 44px;
  }
}
