.cover__title {
  margin: 0 auto 32px;
  padding-top: 20.7%;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 19.043%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 15.2%;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: calc((100vw - 320px)/(767 - 320) * (72 - 32) + 32px);
    line-height: calc((100vw - 320px)/(767 - 320) * (76 - 35) + 35px);
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
    margin: 0 auto 16px;
    padding-top: 10.6%;
  }
}
