.cover__title {
  margin: 0 auto 32px;
  padding-top: 20.7%;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 19.043%;
  }
}
